body, body * {
    font: normal 12pt 'Roboto';
    font-weight: 900;
}
div#nomesCadastrados {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
div#nomesCadastrados > div.nome {
    margin: 12pt;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
}
div#nomesCadastrados > div.nome * {
    padding: 12px;
    color: rgb(255, 255, 255);
}
div#nomesCadastrados > div.nome > img {
    width: 80px;
}